* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.body__inner {
    width: 100%;
    background-color: #eeeeee;
}

.center {
    min-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
    background: inherit;
}

.header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999999;
    flex: 1 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.content{
    flex-grow: 1;
    display: inline-block;
    box-sizing: border-box;
    min-height: calc( 100vh - 100px);
}

.sidebar {
    width: 300px;
    box-sizing: border-box;
    border-left: solid 1px #cccccc;
    box-shadow: -15px 0 0 0 rgba(51, 51, 51, 0.5);
    visibility: visible;
    opacity: 1;
    transition: all .25s ease-out;
    filter: alpha(opacity=100);
}

.footer {
    position:fixed;
    bottom: 0;
    max-width: inherit;
    width: 100%;
    height: 50px;
    border-top: 1px solid #999999;
    background: inherit;
    z-index: 1;
}

@media screen and (min-width: 799px) {

    .center {
        max-width: 800px;
    }
}

@media screen and (max-width: 700px) {

    .sidebar {
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;
        filter: alpha(opacity=0);
    }
}